```
# Dependencies
frontend/node_modules/

# Build artifacts
frontend/node_modules/.bin/
frontend/node_modules/@babel/
frontend/node_modules/@esbuild/
frontend/node_modules/@jridgewell/
frontend/node_modules/@rolldown/
frontend/node_modules/@rollup/
frontend/node_modules/@types/
frontend/node_modules/@vitejs/
frontend/node_modules/baseline-browser-mapping/
frontend/node_modules/browserslist/
frontend/node_modules/caniuse-lite/
frontend/node_modules/electron-to-chromium/
frontend/node_modules/node-releases/

# Compressed files
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst

```